<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap.min.css">

  <link rel="stylesheet" href="font-awesome.min.css">

  <link rel="stylesheet" href="style2.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

  <title>Telehealth</title>
</head>
<body>
  <header class="header-section">
    <div class="main-menu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Telehealth</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#feature">Service </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#about">Appointment </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#testimonial">Blog </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#price">About </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#contact">Contact </a>
              </li>
              <li class="nav-item ">
                <div class="ib">
                  <a class="btn btn-primary" href="#">Sign Up </a>
                </div>
              </li>
              <li class="nav-item ">
                <div class="ic">
                  <a class="btn btn-primary" href="#">Sign In </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="banner-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 banner-body">
            <h5>
              Introducing Telehealth
            </h5>
            <h1>
              TeleHealth Services Rapid Response To Coronavirus Pandemic
            </h1>
            <p>
              Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus <br>mi, at elementum magna ultricies accumsan. Cras venenatis <br>lacus sed dolor placerat tempus. Morbi blandit at neque ut <br>imperdiet.
            </p>
            <div class="inner-btn">
              <a href="#" class="btn btn-primary">Make an appointment</a>
              <!-- <a href="#" class="btn btn-light">Learn more</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About section started................................................. -->
  <section class="aboutUs">
    <div class="container">
      <div class="row">
        <div class="col-md-6 aboutBack">
          <img src="images/about.png" alt="">
        </div>
        <div class="col-md-6 about-body">
          <h5>
            About Us
          </h5>
          <h1>
            TeleHealth Services Rapid Response To Coronavirus Pandemic
          </h1>
          <p>
            Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus <br>mi, at elementum magna ultricies accumsan. Cras venenatis <br>lacus sed dolor placerat tempus. Morbi blandit at neque ut <br>imperdiet.
          </p>
          <div class="inner-btn">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About section end .........................................-->
  <!-- Appointment section started ...............................-->
  <section class="appointment">
    <div class="container">
      <div class="row">
        <div class="col-md-6 appointmentBack">
          <img src="images/app.png" alt="">
        </div>
        <div class="col-md-6 appointment-body">
          <h5>
            Appointment
          </h5>
          <h1>
            How To Get Started By Using Our App
          </h1>
          <p>
          Many healthcare systems around the world together with government agencies and startup companies are building and </br>delivering Telehealth solutions
        </p>
        <div class="media">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <div class="media-body">
            <h5 class="mt-0">Pick Your Package</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
            <div class="media-body">
              <h5 class="mt-0">Telehealth App Setup</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <i class="fa fa-hospital-o" aria-hidden="true"></i>
              <div class="media-body">
                <h5 class="mt-0">Patient Onboarding</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <i class="fa fa-television" aria-hidden="true"></i>
                <div class="media-body">
                  <h5 class="mt-0">Going Live</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Appointment section ends................................. -->
    </body>

    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 head">
           <h1>
            Telehealth
          </h1>
          <p>
          Many healthcare systems around the world together with government agencies and startup companies are building and </br>delivering Telehealth solutions
        </p>
        <ul class="social-icons">
          <li>
            <a href="#"><i class="fa fa-behance"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4 body">
        <h1>
          Contact Us
        </h1>
        <ul class="contact-icons">
          <li>
            <a href="#"><i class="fa fa-phone">+8801700000002</i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-envelope-open">telehealth@gmail.com</i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-map-marker">Block D, Road 04, Bashundhara, Dhaka</i></a>
          </li>
        </ul>
        </div>
        
      </div>

    </div>
  </footer>

  <section class="footer-end">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Copyright © 2021 Telehealth. All Rights Reserved by Telehealth</h4>
        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

  <script src="bootstrap.min.js"></script>
  </html>
</body>
</html>